@use "../abstracts";

.header {
    /* To act as reference for .logo-box */
    position: relative;
    /* 85% of the viewport height */
    height: 85vh;
    /* 
    Multiple background images can be specified. The left-most
    is the top layer, and the right-most is the bottom layer.
    */
    background-image: linear-gradient(
            /* Direction of the gradient (just one can be included too) */
            to right bottom,
            rgba(abstracts.$color-primary-light, 0.8),
            rgba(abstracts.$color-primary-dark, 0.8)),
        url('../img/hero-small.jpg');
    /* Always try to fit the width of the element (container?) */
    background-size: cover;
    /* 
    The top of the image always stays at the top of the container 
    (The image is cropped in a way such as the top is always visible)
    */
    background-position: top;

    // Actual values are not necessary for polygon funtion
    // For browsers that support clip-path
    @supports (-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0)) {
        height: 95vh;

        /* Polygon in which the image will still be visible */
        // First webkit because is a vendor
        -webkit-clip-path: polygon(0 0,
                100% 0,
                100% 75vh,
                0 100%);
        clip-path: polygon(
                /* DOCS Tool for polygons https://bennettfeely.com/clippy/ */
                /* List of x y coordinates following the specified order */
                0 0,
                100% 0,
                100% 75vh,
                0 100%);

    }

    // Apple ¿redmi? screen, it's usually used as reference
    // High resolution screen
    // The , acts as an OR
    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    // for safari
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    only screen and (min-width: 125em) {
        background-image: linear-gradient(
                /* Direction of the gradient (just one can be included too) */
                to right bottom,
                rgba(abstracts.$color-primary-light, 0.8),
                rgba(abstracts.$color-primary-dark, 0.8)),
            url('../img/hero.jpg');
    }

    @include abstracts.respond(phone) {
        -webkit-clip-path: polygon(0 0,
                100% 0,
                100% 85vh,
                0 100%);
        clip-path: polygon(0 0,
                100% 0,
                100% 85vh,
                0 100%);
    }

    &__logo-box {
        position: absolute;
        /* 
        The reference point for top and left is the parent
        element that has a position: relative, in this case, .header
        (If the parent has a position: absolute, also would work, it jus needs
        to be specified)
        */
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;
    }

    &__text-box {
        position: absolute;
        /* (Moves the top left point to the middle of the container) */
        /* Units are relative to parent */
        top: 40%;
        left: 50%;
        /* (Moves container in x and y) */
        /* Units are relative to element */
        transform: translate(-50%, -50%);
        text-align: center;
    }
}