@use "../abstracts";

body {
    /* 
    Font reset is specified in the body instead of in * to harness
    the power of inheritance. It is more efficient to do so.
    */
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    /* 1.7 time larger than the default value */
    line-height: 1.7;
    color: abstracts.$color-grey-dark;
}

.heading-primary {
    color: abstracts.$color-white;
    text-transform: uppercase;

    /* To fix little "shakiness" in animation that should not be there */
    backface-visibility: hidden;

    margin-bottom: 6rem;

    /* Block elements occupy the entire width available and create line breaks after and before them */
    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;

        @include abstracts.respond(phone) {
            letter-spacing: 1rem;
            font-size: 5rem;
        }

        /* Apply animation. MANDATORY animation-name and animation-duration */
        animation-name: moveInLeft;
        animation-duration: 1s;
        /* Curva temporal de la animación (interpolación) (recuerda blender) */
        animation-timing-function: ease-out;

        /* animation-iteration-count: 3; */
        /* animation-delay: .3s; */
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;

        @include abstracts.respond(phone) {
            letter-spacing: .5rem;
            // font-size: 5rem;
        }

        /* animation can be used as summary of the 3 properties used in
           heading-primary-main
        */
        animation: moveInRight 1s ease-in-out;
    }
}

.heading-secondary {
    display: inline-block;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right,
            abstracts.$color-primary-light,
            abstracts.$color-primary-dark);
    /* Background clip is used to clip the background to the text */
    background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s;

    @include abstracts.respond(tab-port) {
        font-size: 3rem;
    }

    @include abstracts.respond(phone) {
        font-size: 2.5rem;
    }

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba(abstracts.$color-black, .2);
    }
}

.heading-tertiary {
    font-size: abstracts.$default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: abstracts.$default-font-size;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}